@import url('https://fonts.googleapis.com/css?family=Corben:700');

.back {
	background-image: radial-gradient(50% 176%, #8d2525 80%, #220606 100%);
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
    
}

/* PAGE CONTENT */
.fsp__content h1 {
	font-family: 'Corben', cursive;
	font-size: 3rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
	text-align: center;
}
.fsp__content #artist {
	top: 5%;
}
.fsp__content #title {
	bottom: 10%;
}

img {
    display: block;
    margin: auto;
    width: 30%;
}
/* CONTENT END */

/* SNOW */
.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}
/* SNOW END */

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}