* {
  font-size: 100%;
  font-family: Tahoma;
}

header {
  position: static;
  padding: 20px 20px 80px 20px;
  text-align: left;
  height: 20px;
  font-size: 4.25em;
  font-weight: 550;
  color: red;
}

/* div {
  padding: 0;
  margin: 0;
  outline: solid 1px;
}

p {
  padding: 0;
  margin: 0;
} */

.history-main {
  box-sizing: border-box;
}

.sticky-date {
  font-size: 1.25em;
  padding: 20px;
  padding-bottom: 35px;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  height: 25px;
  text-align: left;
  background: white;
  border-bottom: 2px solid rgb(255, 0, 0);
}

.fixed .sticky-date {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1
}

.fixedBottom .sticky-date {
  position: absolute;
  top: auto;
  bottom: 0;
}

.row {
  display: flex;
  /* width: 100%; */
  border-bottom: 0.1px solid rgb(245, 245, 245);
}

.col {
  padding-right: 5%;
}


.time {
  flex: 0.60;
  text-align: right;
  white-space: nowrap;
}

.song {
  flex: 6;
  text-align: left;
}

.icon {
  flex: 0.1;
  text-align: right;
}

.time-para,
.song-para,
.icon-para {
  font-size: 30px;
}



footer {
  height: 10px;
  padding: 20px;
  text-align: left;
}