* {
    font-size: 100%;
    font-family: Tahoma;
}

header {
    position: static;
    padding: 20px 20px 80px 20px;
    text-align: left;
    height: 20px;
    font-size: 2em;
}

.sticky-date {
    padding-left: 20px;
    font-weight: bold;
    position: relative;
    height: 25px;
    text-align: left;
    background: white;
    border-bottom: 2px solid rgb(185, 238, 255);
}

.fixed .sticky-date {
    padding-left: 20px;
    padding-top: 20px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.fixedBottom .sticky-date {
    padding-left: 20px;
    position: absolute;
    top: auto;
    bottom: 0;
}

.detail-container {
    padding: 10px 20px;
    margin: 0;
    text-align: left;
    text-align: top;
}

.time-list {
    display: inline-block;
    list-style: none;
    text-align: right;
}

.time-element {
    margin: 10px 0;
}

.song-list {
    display: inline-block;
    list-style: none;
}

.song-element {
    margin: 10px 0;
}

.icon-list {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 1000px;
}

.icon-element {
    margin: 10px 0;
}

footer {
    height: 10px;
    padding: 20px;
    text-align: left;
}
