* {
    font-size: 100%;
    font-family: Tahoma;
}

h1 {
    position: static;
    padding-left: 20px;
    text-align: left;
    font-size: 2.75em;
}

#historyTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px;
  }
  
  #historyTable th, #historyTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #historyTable tr {
    border-bottom: 1px solid #ddd; 
  }
  
  #historyTable tr.header {
    background-color: black;
    color: red;
  }

  /* Hover effect */
  #historyTable tr:not(:first-child):hover {
    background-color: lightgray;
  }