

.carousel-inner img {
   width: 70%;
   height: 70%;
   /* border-radius: 5%; */

  }
.carousel-inner {
  width: 70%;
  height: 50%;
}
   
#contain-page{
  /* margin-left: 30px; */
  max-width: 1300px;
  /* border:1px solid black; */
  
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;

  }
  p {
    text-align: center;
    font-family: 'Apple Chancery', cursive
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    position: relative;
    left: 10%;
    padding: 0 4px;
    width: 100%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    max-width: 25%;
    padding: 0 4px;
  } 
  .column img {
     vertical-align: middle;
     width:300px;
     height: 300px;
     margin: 50px 0px;
 
   }
   .column img:hover{
   transform: scale(1.1);
   transition: all 0.8s ease-in-out 0s;
   }

.headings{
  font-size: 100px;
  text-align:center;
  margin-top:150px;
  font-family: 'Chomsky', sans-serif; 
}

.lyrics{
  font-size: 50px;
  text-align:center;
  margin-top:150px;
}


#imusic-heading{
  margin:300px 0px;
  font-size: 200px;
  text-align:center;
  
}


#imusic-heading:hover{
  color:red;
  transform: scale(1.2);
  transition: all 0.8s ease-in-out 0s;
}

#billboard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.decoration-pics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
#bilTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid black; /* Add a grey border */
  font-size: 18px;
  margin-left: 50px;
}

#bilTable th, #bilTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  border:1px solid black;
}

#bilTable tr {
  border-bottom: 1px solid black; 
}

#bilTable tr.header {
  background-color: black;
  color: red;
}

/* Hover effect */
#bilTable tr:not(:first-child):hover {
  background-color: lightgray;
}