#libSearchBar {
    width: 80%;                                  /* Full-width */
    font-size: 16px;                            
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #libTable {
    border-collapse: collapse; /* Collapse borders */
    width: 90%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px;
  }
  
  #libTable th, #libTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #libTable tr {
    border-bottom: 1px solid #ddd; 
  }
  
  #libTable tr.header {
    background-color: black;
    color: yellow;
  }

  /* Hover effect */
  #libTable tr:hover {
    background-color: grey;
  }