/* -------------------------------------------------------- */
/* Header Spacing*/
h2{
    padding-left: 10px;
    padding-bottom: 5px;
}
h3{
    padding-left: 25px;
}
  
footer{
  height: 70px;
}
  /* -------------------------------------------------------- */
  /* Side-scrollable row */
  
  .horizontal-scroll-wrapper{
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .horizontal-scroll-wrapper::-webkit-scrollbar{
    height: 10px;
  }

  .horizontal-scroll-wrapper::-webkit-scrollbar-thumb{
    background-color: #FFA0A0; 
    height: 10px; 
    border-radius: 10px; 
    background-clip: content-box;
  }
  .horizontal-scroll-wrapper::-webkit-scrollbar-thumb:hover{
    background-color: #FF5656;
  }

  .horizontal-scroll-wrapper .squares{
    align-items: center;
    height: 20vh;
    margin: 15px;
  }

  .horizontal-scroll-wrapper .squares:hover{
        transform: scale(1.2);
        box-shadow: none;
        opacity: 0.9;
    }
  .horizontal-scroll-wrapper .squares:active{
    opacity: 0.5;
  }

  .formPopup {
    display: none;
    position: absolute;
    top:0;
    left: 30%;
    /* bottom: 20%;
    left: 20%; */
  }

  #exitButton {
    background-color: transparent;
    border: none;
    font-size: 150%;
    text-align: right;
  }

  #exitButton:hover {
    opacity: 0.5;
  }
  /* Album/Playlist Popup Screen */
  .formContainer {
    border: 3px solid;
    border-radius: 25px;
    background-color: white;
    width: 400px;
    height: 400px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
  }
  .formContainer::-webkit-scrollbar {
    width: 8px;
  }
  .formContainer::-webkit-scrollbar-thumb {
    background-color: #FFA0A0; 
    width: 8px; 
    border-radius: 10px; 
    background-clip: content-box;
  }
  .formContainer::-webkit-scrollbar-thumb:hover{
    background-color: #FF5656;
  }
  .formContainer::-webkit-scrollbar-track-piece:end {
    margin-bottom: 20px;
  }
  .formContainer::-webkit-scrollbar-track-piece:start {
    margin-top: 20px;
  }

  .songTableBtn {
    color: red;
    padding-right: 10px;
  }
  .songTableBtn:hover {
    opacity: 0.5;
  }
  .songTableBtn:active {
    opacity: 1;
  }
  .songTableTitle {
    padding-right: 90px;
  }
  .selectedAlbumCover {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  #albumHeader {
    text-align: center;
  }
