*{
    margin: 0; padding: 0;box-sizing: border-box;
  }
  
.container{
    background: rgb(255, 255, 255);
    width: 540px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(0,0,0,.5);
    border-radius: 25px;
    overflow: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
h1{
    margin-top: 20px;
    text-align: center;
    color: #4d5061;
}
  
h2{
    text-align: center;
    padding: 5px 0;
    color: #4d5061;
}
  
span{
    font-weight: 700;
    padding: 20px;
}
  
.profile,.general{
    position: relative;
    justify-content: space-around;
}
  
.name,.dob,.gen,.eml,.switch,.drop-1{
    padding-bottom: 2%;
}
  
.input{
    border: 0;
    border-bottom: 1px solid black;
}
  
  /* TOOGLE SWITCH */
.toggle{
    display: flex;
    justify-content: start;
}
  
.t{
    display: none;
}
  
.lab{
    position: relative;
    display: block;
    align-items: flex-end;
    width: 50px;
    height: 30px;
    background: rgb(172, 172, 172);
    border-radius: 50px;
    cursor: pointer;
    transition: background 300ms linear;
}
  
.lab::before{
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 50%;
    transition: left 300ms linear;
}
  
.t:checked + .lab{
    background: #4d5061;
}
  
.t:checked + .lab::before{
    left: 23px;
    background: #eee;
}

select{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-size: .8rem;
    padding: .7em .7em;
    background: #4d5061;
    color: white;
    border-radius: 10px;
}
  
p{
    text-align: center;
}
  
