html{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* -------------------------------------------------------- */
/* SIDEBAR STYLE */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
   color: black;
   background-color:rgb(254,254,254);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 3px solid black;
}

.sidebar a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
   display: block;
   border-bottom:2px solid grey;
  transition: 0.5s;
}
#closebtn{
  border:none;
} 

#home{
  margin-top:50px;
}

.sidebar a:hover {
  color: gray;
  background-color:gold;
  text-decoration:none;
}

.sidebar .openbtn {
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 36px;
  display: none;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: block;
}