/* -------------------------------------------------------- */
/* SMALL PLAYER STYLE */
.smallPlayer {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .smallPlayer .expandbtn {
    position: absolute;
    text-align: center;
    right: 1px;
    font-size: 20px;
    padding: 10px;
    height:120%;
    color: black; 
    background-color: transparent;
    display: block;
    transform: translateY(-4px);
    user-select: none; 
   -webkit-user-select: none;
  }
  .smallPlayer .expandbtn:hover {
    background-color: gold;
  }
  
  .fullscreenPlayer {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgb(210, 90, 120);
    display: none;
  }
  
  .fullscreenPlayer .closefspbutton {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 40px;
    text-decoration: none;
    display: none;
  }
  .controls {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  #playbtn, #pausebtn {
    position: absolute;
    font-size: 200%;
    color: red;
    transform: translateY(10%);
  }
  #pausebtn {
    display: none;
  }
  #nextbtn{
    position: absolute;
    font-size: 200%;
    color: red;
    transform: translate(40px, 10%);
  }
  #prevbtn{
    position: absolute;
    font-size: 200%;
    color: red;
    transform: translate(-50px, 10%);
  }
  #nextbtn:hover, #prevbtn:hover, #playbtn:hover, #pausebtn:hover{
    opacity: 0.75;
  }
  #nextbtn:active, #prevbtn:active, #playbtn:active, #pausebtn:active{
    opacity: 1;
  }
  #songTitle, #songArtist {
    position: absolute;
    left: 90px;
  }
  #songTitle {
    top: 1%;
  }
  #songArtist {
    bottom: 1%;
  }
  .smallPlayer img {
    position: absolute;
    left:20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 60px;
    height: 60px;
    top:1px;
  }
  /* Volume Slider */
  .volumeContainer {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 70px;
    /* Disable text selection highlighting */
    user-select: none; 
   -webkit-user-select: none;
  }
  .volumeContainer i{
    transform: translateY(110%);
    color: red;
  }
  .volumeContainer i:hover{
    opacity: 0.5;
  }
  .volumeContainer i:active{
    opacity: 1;
  }
  .volumeSlider{
    width: 70px;
    height: 5px;
    transform: translateY(260%);
    -webkit-appearance: none;
    background-color: #FFA0A0;
    border-radius: 20px;
  }
  .volumeSlider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }