/* -------------------------------------------------------- */
/* SMALL PLAYER STYLE */
.smallPlayer {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .smallPlayer .expandbtn {
    position: absolute;
    top: 0;
    right: 1px;
    font-size: 20px;
    padding: 10px;
    height:100%;
    color: black; 
    background-color: transparent;
    text-decoration: none;
    display: block;
  }
  .smallPlayer .expandbtn:hover {
    background-color: gold;
  }
  
  .fullscreenPlayer {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgb(210, 90, 120);
    display: none;
  }
  
  .fullscreenPlayer .closefspbutton {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 40px;
    text-decoration: none;
    display: none;
  }
  .controls {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    border: solid black;
  }
  #playbtn, #pausebtn {
    position: absolute;
    font-size: 200%;
    color: red;
  }
  #pausebtn {
    display: none;
  }
  #nextbtn{
    position: absolute;
    font-size: 200%;
    color: red;
    transform: translateX(40px);
  }
  #prevbtn{
    position: absolute;
    font-size: 200%;
    color: red;
    transform: translateX(-50px);
  }
  #nextbtn:hover, #prevbtn:hover, #playbtn:hover, #pausebtn:hover{
    opacity: 0.75;
  }
  #nextbtn:active, #prevbtn:active, #playbtn:active, #pausebtn:active{
    opacity: 1;
  }
  #songTitle, #songArtist {
    position: absolute;
    left: 10%;
    transform: translateX(40px);
  }
  #songTitle {
    top: 1%;
  }
  #songArtist {
    bottom: 1%;
  }
  .smallPlayer img {
    position: absolute;
    left:3%;
    margin-top: auto;
    margin-bottom: auto;
    width: 60px;
    height: 60px;
  }

  /* Volume Slider */
  .volumeContainer {
    display: flex;
    position: absolute;
    background-color: grey;
    /* align-items: right; */
    right:15%;
  }